@charset "utf-8";
/* CSS Document */
body{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:12px;	
	
}
#todoconteudo{
	width:1024px;
    height:100%;
	margin:0 auto;
	
}
#banner{
	border:1px solid #c0c0c0;
	padding:1px;
	width:100%;
	height:100px;
}
#menu{
	border:1px solid #c0c0c0;
	padding:1px;
	width:100%;
	height:50px;
	margin-top:5px;	
}
#corpo{
	border:1px solid #c0c0c0;
	padding:1px;
	width:100%;
	height:100%;
	margin-top:1px;		
}

#rodape{
	border:1px solid #c0c0c0;
	padding:1px;
	width:100%;
	height:50px;	
	margin-top:5px;	
}

input, select, textarea{
	border:1px solid #4682b4;
	padding:2px;
	color:#3A5FCD;
}

#titulo{
	text-align:center;
	color:#4169e1;
	padding:5px;
	width:1024px;
	font-weight:bold;
	font-size:14px;	
}
#btnok{
	height:50px;
	vertical-align:bottom;
	padding-bottom:5px;	
}

button, #ok, #gravar{
	border:2px solid #4682b4;
	padding:3px;
	padding-left:17px;
	font-size:12px;	
	background-color:#ffffff;
	color:#000000;
}

button:houver, #ok:houver, #gravar:houver{
	padding-top:4px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:1px;
	color:#436EEE;
	cursor:pointer;
}

a{
	text-decoration:none;
	color:#4169e1;
	padding-left:3px;
	padding-right:3px;
}

a:houver{
	text-decoration:none;
	color:white;
	background-color:#8968CD;	
}

